.currentMeshName[data-v-b0715bd0],.currentMeshName[data-v-05db84a3]{color:var(--v-primary-base)}.currentMeshName .v-icon[data-v-05db84a3]{opacity:0}.currentMeshName:hover .v-icon[data-v-05db84a3]{opacity:1}
